* {
  padding: 0;
  margin: 0;
}

body {
  background-color: silver;
}

nav {
  height: 75px;
  padding: 0 10%;
  background-color: cornflowerblue;
}

h1 {
  display: inline-block;
  font-size: 60px;
}

#menu {
  display: inline-block;
  float: right;
}

ul {
  text-align: right;
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 26px 30px;
  color: white;
  text-align: right;
  background-color: maroon;
}

#page-wrapper {
  width: 1024px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: antiquewhite;
}

#image-div {
  width: 1024px;
  height: 200px;
  background-image: url("https://www.placecage.com/c/1024/200");
}

#left,
#center,
#right {
  display: inline-block;
  width: 30%;
  margin: 1.5%;
  text-align: justify;
  vertical-align: top;
}

/********** ADD YOUR MEDIA QUERIES BELOW THIS LINE *************/
@media only screen and (max-width: 1024px) {
  nav {
    text-align: center;
    padding: 0;
  }

  #menu {
    width: 100%;
  }

  ul {
    text-align: center;
    background-color: maroon;
  }

  li {
    padding: 10px 62px;
  }

  #image-div {
    clear: both;
    width: 100%;
  }

  #page-wrapper {
    width: 100%;
  }

  #left,
  #center,
  #right {
    width: 90%;
    margin: 2% 5% 1% 5%;
  }
}

@media screen and (max-width: 768px) {
  #left,
  #center,
  #right {
    height: 250px;
    overflow: auto;
  }

  #image-div {
    background-image: url("http://www.imfdb.org/images/thumb/1/1b/Porencima.jpg/601px-Porencima.jpg");
    width: 601px;
    height: 341px;
    margin: 0 auto;
  }
}
