body {
  font-size: 24px;
  background-color: lightgrey;
}

h1 {
  color: white;
  text-align: center;
  background-color: navy;
  padding: 42px;
}

p {
  padding: 20px;
}

#after {
  clear: both;
}

#left {
  float: left;
  width: 75%;
  background-color: cornflowerblue;
  margin-bottom: 32px;
}

#right {
  float: right;
  width: 25%;
  height: 712px;
  overflow: auto;
  background-color: #b20;
}

#text-wrapper {
  width: 1024px;
  background-color: antiquewhite;
  margin: 0 auto;
  position: relative;  
}

/* * Get the `#right` div next to the `#left` div.

  * **BONUS:** Don't change any widths.

* Get the Background color to extend past the two floated divs.

* Make the `#right` div end where the #left div ends. Make it so you can scroll to see the text.

* Make the `#after` div appear after the text boxes.

* Center the `#text-wrapper`.

* Make the space around the text with the navy background so it looks like the picture below. */