h1 {
  font-family: "Alfa Slab One", cursive;
}
body {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("https://images.pond5.com/hand-flipping-coin-footage-023358645_iconl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}

button {
  height: 30px;
  width: 48.54px;
}
/* https://images.pond5.com/hand-flipping-coin-footage-023358645_iconl.jpeg */
