h1 {
  font-family: "Alfa Slab One", cursive;
}
body {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  /* -webkit-text-stroke: .1px black; */
  /* -webkit-text-fill-color: white; */
  background-image: url("https://images.pond5.com/hand-flipping-coin-footage-023358645_iconl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}

button {
  height: 30px;
  width: 48.54px;
  color: black;
}

/* .button {
  width: 50%;
  height: 48.54px;
} */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr) 2fr repeat(4, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.flip {
  grid-area: 1 / 3 / 2 / 4;
}
#heads {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
}
.guess {
  grid-area: 2 / 3 / 3 / 4;
}
#tails {
  grid-area: 2 / 4 / 3 / 5;
  justify-self: center;

}
#chose-heads {
  grid-area: 3 / 2 / 4 / 3;
}
#coin-image {
  grid-area: 3 / 3 / 4 / 4;
}
#chose-tails {
  grid-area: 3 / 4 / 4 / 5;
}
#heads-occurence {
  grid-area: 4 / 2 / 5 / 3;
}
#you-guessed {
  grid-area: 4 / 3 / 5 / 4;
}
#tails-occurence {
  grid-area: 4 / 4 / 5 / 5;
}
#wins-display {
  grid-area: 5 / 2 / 6 / 3;
}
.div12 {
  grid-area: 5 / 3 / 6 / 4;
}
#losses-display {
  grid-area: 5 / 4 / 6 / 5;
}

/* https://images.pond5.com/hand-flipping-coin-footage-023358645_iconl.jpeg */
